body {
  font-family: "Montserrat", sans-serif;
  background: #dbebf2;
}
div.container-sm {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #878787;
  font-size: 48px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
li:first-letter {
  text-transform: capitalize;
}

form {
  margin-bottom: 30px;
  margin-top: 30px;
}

.overview {
  margin: 30px auto;
  display: block;
}

.weather-app-wrapper {
  display: block;

  max-width: 900px;

  margin-top: 30px;
  background: white;
}

.weather-app .btn {
  background: #dc7555;
  border: none;
}
.weather-app .btn:hover {
  background: #48484a;
  border: none;
}

.weather-app {
  padding: 20px;

  border-radius: 10px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 80px;
  width: 80px;
}

.weather-temperature strong {
  color: #48484a;
  font-size: 64px;
  line-height: 1;
  font-weight: 700;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: #48484a;
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.forecast-box {
  border-radius: 10px;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}

.weather-forecast-temperature-min {
  color: #dc7555;
  opacity: 0.6;
}

.weather-forecast-temperatures {
  color: #dc7555;
  font-size: 13px;
  font-weight: 700;
}
